// @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');



.container {
  width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  background-color: #fafafa;
  min-height: 400px;
  font-family: 'Nunito', sans-serif;
  color: #363636;
}

h1 {
  padding: 20px 0 10px 0;
}

input {
  position: relative;
  width: 80%;
  padding: 10px 5px;
  border: 1px solid #363636;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  box-shadow: 3px 9px 9px rgba(0, 0, 0, .2);
}

.addButton {
  position: absolute;
  padding: 7px;
  outline: none;
  border: none;
  top: 253px;
  transform: translateY(-50%);
  left: 61.5%;
  width: 20px;
  cursor: pointer;
  z-index: 5;
}

.addBtn {
  position: absolute;
  transform: translateY(-50%);
  right: -2px;
  width: 23px;
  cursor: pointer;
  z-index: 5;
}