@import '../../assets/styles/templates';

.container {
  @extend %container;

  width: 450px;
  margin-top: 50px;
  text-align: center;
  background-color: #ebebeb;
  font-family: 'Nunito', sans-serif;
  color: $font-color;
}

h1 {
  padding: 20px 0 10px 0;
}

input {
  @extend %style-none;

  width: 80%;
  padding: 10px 5px;
  border: 1px solid $font-color;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 3px 9px 9px rgba(0, 0, 0, .2);
  position: relative;
}

.addButton,
.addBtn {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}

.addButton {
  @extend %style-none;

  top: 253px;
  left: 61.5%;
}

.addBtn {
  width: 23px;
  right: -10px;
}