@import '../../../common/styles/templates';

.container {
  @extend %container;

  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 30px;
}

.signUpInput {
  @extend %flex-center;

  justify-content: space-around;
  flex-wrap: wrap;
}


.signUpInput input {
  position: relative;
  min-width: 265px;
  padding: 20px;
  font-size: 18px;
  color: #9CA8B7;
  border-radius: 4px;
}

.radioBoxForm {
  margin: 15px;
  padding: 10px;
  text-align: left;
  font-size: 22px;
  line-height: 23px;
  border: 1px solid white;
}

.radioBoxForm input {
  margin: 0 15px 0 10px;
}

.radioBoxForm span {
  display: block;
  margin-left: 37px;
  font-size: 14px;
}

.checkBoxForm {
  padding: 0 14px 16px;
  font-size: 14px;
}

a {
  color: white;
}

.btn input {
  @extend %btn
}