%container {
  max-width: 1100px;
  margin: 0 auto;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%one-liner {
  white-space: no-wrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: elipsis;
}

%absolute-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

%errorMessage {
  display: block;
  position: absolute;
  max-width: 260px;
  margin-top: 5px;
  margin-left: 20px;
  padding: 7px 15px;
  font-size: 12.5px;
  color: #A01E1D;
  background-color: #FFEEF0;
  border: 1px solid #A01E1D;
  border-radius: 6px;
  z-index: 10;
}

%errorMessage_before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #A01E1D transparent;
}