.month-year {
  color: #009991;
  text-transform: uppercase;
}

table {
  width: 300px;
  margin: 0 auto;
}


.days-week {
  color: #EB1B57;
  padding: 10px;
}

.days {
  padding: 9px 12px;
  color: #B7B7B7;
}

.this-day {
  padding: 9px 12px;
  color: #EB1B57;
  border: 6px solid #EB1B57;
  border-radius: 50%;

}