.section {
  max-width: 1100px;
  margin: 10% auto;

}

.wrapper {
  display: flex;
  min-height: 500px;
  border: 15px solid #009991;
}

.right-section,
.left-section {
  width: 50%;
  padding-top: 60px;
  font-size: 25px;
  text-align: center;
}

.left-section {
  font-weight: 300;
  background-color: #38CEC4;
  color: #ffffff;
}

.day {
  font-weight: 300;
}

.left-section span {
  margin: 100px;
  font-size: 200px;
}

.right-section {}