.cardImg {
  max-width: calc(100%);
}

.cardTitle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cardDescription {
  width: 100%;
  margin-bottom: 7px;
  font-size: 18px;
  font-family: "Merriweather", serif;
  line-height: 26px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}