.cardImg {
  max-width: calc(100%);
}

.cardTitle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cardDescription {
  width: 100%;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}