@import '../../assets/styles/templates';


.signupContainer {
  max-width: 720px;
  margin: 80px auto 0;
  padding: 10px 20px 30px;
  text-align: center;
}

.container {
  @extend %container;
}

.signupInfo h2 {
  margin: 5px;
  font-size: 42px;
  font-weight: 700;
}

.signupInfo h4 {
  width: 70%;
  margin: 10px auto 13px auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}

.formWrapper {
  @extend %flex-center;
  justify-content: space-between;
  margin-top: 26px;
  padding: 0px 49px 0 45px;
}