@import '../../../assets/styles/templates';

label .input {
  margin: 5px 13px;
}

input {
  border: none;
  outline: none;
}

.validInput {
  border: 2px solid #28D2D0;
}

.errorInput {
  border: 2px solid #F97583;
  position: relative;
}

.errorMessage {
  @extend %errorMessage;

  &::before {
    @extend %errorMessage_before;
  }

}