@import '../../../common/styles/templates';

.signInInput {
  flex-direction: column;
}

.signInInput input {
  position: relative;
  min-width: 95%;
  padding: 20px;
  font-size: 18px;
  color: #9CA8B7;
  border-radius: 4px;
}

.checkBoxGroup {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
}

a {
  text-decoration: none;
}

.btn input {
  @extend %btn
}