@import '../../assets/styles/templates';

.todoArrMasage {
  height: 500px;
  padding: 15px 0 15px 15px;
  overflow-y: scroll
}

.todoMasage {
  @extend %style-none;

  max-width: 85%;
  margin: 12px auto;
  padding: 10px 5px;
  text-align: left;
  box-shadow: 3px 9px 9px rgba(0, 0, 0, .2);
  border-radius: 3px;
  transition: .3s;
  position: relative;
}

.todoMasage:hover {
  background-color: $background-color-hover;
}

.todoMasageWrapper {
  max-width: 87%;
  word-wrap: break-word;
}